/* ================================================================
   Main styles
   ================================================================ */


body {
    background-image: url('../images/fullbg.png');
    background-color: $color-base;
    background-position: center center;
    background-size: contain;
    background-repeat: repeat-y;
}

main {
    padding: 40px 0 20px;

    @media (min-width: $bp-m) {
        padding: 0 0 20px;
    }

    &.interior {
        padding: 20px 0;
    }

    &.home-page {
        padding:0;
        overflow:hidden;

        @media (min-width: $bp-m) {
            margin-top:-70px;
        }

    }
}




/* ================================================================
   Page Title
   ================================================================ */

.main-title {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 70px;
    z-index: 50;

    &.fixed {
        h1 {
            background-color: rgba($color-primary, 0.60);

            &:before {
                background-image: url('../images/title-bf-mobile-fixed.svg');

                @media (min-width: $bp-mw) {
                    background-image: url('../images/title-bf-desktop-fixed.svg');

                }
            }

            &:after {
                background-image: url('../images/title-af-mobile-fixed.svg');

                @media (min-width: $bp-mw) {
                    background-image: url('../images/title-af-desktop-fixed.svg');
                }
            }
        }
    }

    @media (min-width: $bp-m) {
        position: static; 
        top: -70px;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: all .5s ease-in;
        transition: all .5s ease-in;
        -webkit-backface-visibility: hidden;

        &.fixed {
            width: 100%;
            z-index: 100;

            position: fixed;
            top: 70px;

            -webkit-overflow-scrolling: touch;
            -webkit-transition: all .5s ease-in;
            transition: all .5s ease-in;
            -webkit-backface-visibility: hidden;
        }
    }

    h1 {
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        font-weight: $fontWeight-light;
        @include x-rem(font-size,
        22px);
        line-height: 28px;
        margin: 0;
        background-color: rgba($color-primary, 0.25);
        padding: 5px 25px;
        margin-top: -1px;
        border-bottom: 1px solid $color-primary;
        border-top: 1px solid $color-primary;
        position: relative;

        -webkit-overflow-scrolling: touch;
        -webkit-transition: top .5s ease-in-out;
        transition: top .5s ease-in-out;
        -webkit-backface-visibility: hidden;

        min-width:160px;

        @media (min-width: $bp-mw) {
            @include x-rem(font-size, 32px);
            line-height: 40px;
            min-width:210px;
        }

        &:before {
            content: '';
            position: absolute;
            background-image: url('../images/title-bf-mobile.svg');
            height: 40px;
            width: 24px;
            left: -24px;
            top: -1px;
            -webkit-overflow-scrolling: touch;
            -webkit-transition: top .5s ease-in-out;
            transition: top .5s ease-in-out;
            -webkit-backface-visibility: hidden;

            @media (min-width: $bp-mw) {
                background-image: url('../images/title-bf-desktop.svg');
                height: 52px;
                width: 31px;
                left: -31px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            background-image: url('../images/title-af-mobile.svg');
            height: 40px;
            width: 24px;
            right: -24px;
            top: -1px;
            -webkit-overflow-scrolling: touch;
            -webkit-transition: top .5s ease-in-out;
            transition: top .5s ease-in-out;
            -webkit-backface-visibility: hidden;

            @media (min-width: $bp-mw) {
                background-image: url('../images/title-af-desktop.svg');
                height: 52px;
                width: 31px;
                right: -31px;
            }
        }
    }

    @media (min-width: $bp-m) {
        &.about-page {
            display: flex;
            align-items: center;
            justify-content: center;

            &.fixed {
                .about-menu {
                    top: -1px;
                }
            }

            h1 {
                position: relative;
                z-index: 5;
            }
        }
    }
}